
.login-image {
  width: 100%;
  height: 100%;
}


.full-width {
  width: 100%;
}


.full-width-contact {
  width: 45%;
  margin-right: 40px;
}

.full-width-joined {
  width: 45%;
}


.full-width-nic {
  width: 45%;
  margin-right: 40px;
}

.full-width-dob {
  width: 45%;
}


.full-width-password {
  width: 45%;
  margin-right: 40px;
}

.full-width-confirm {
  width: 45%;
}




//.main{
//  min-height: 100%;
//  padding: 40px 1rem;
//  //background-image: url("./././assets/images/background.jpg");
//  display: block;
//  //background-image: url("/background.jpg");
//
//}
//
//
//mat-card{
//  max-width: 600px;
//  margin: 2em auto;
//  text-align: center;
//  max-height: 100%;
//  //padding-top: 100px;
//
//}
//
//.header{
//  text-align: center;
//
//}
//
//.login-image {
//  width: 100%;
//  height: 100%;
//}
//
//.full-width {
//  width: 80%;
//}
//
////.button-row {
////  padding-top: 5px;
////}
////
////.button-row a {
////  margin-right: 8px;
////  text-align: center;
////}
//
////.forget-password {
////  padding-left: 0px;
////}
//
//.first-name-input {
//  padding-top: 10px;
//}
//
//.last-name-input {
//  padding-top: 10px;
//}
//
//.user-name-input {
//  padding-top: 10px;
//}
//
//.address-input {
//  padding-top: 10px;
//}
//
//.contactNo-input {
//  padding-top: 10px;
//}
//
//.joined-date-input {
//  padding-top: 10px;
//}
//
//.email-input {
//  padding-top: 10px;
//}
//
////.nic-input {
////  padding-top: 10px;
////  text-align: left;
////  padding-left: 60px;
////}
//
//.full-width-nic {
//  padding-top: 10px;
//  text-align: left;
//  padding-right: 10px;
//  width: 35%;
//
//}
//
//.full-width-dob {
//  padding-top: 10px;
//  text-align: left;
//  padding-left: 25px;
//  width: 35%;
//}
//
////.dob-input {
////  padding-top: 10px;
////  text-align: right;
////  padding-left: 100px;
////}
//
//.full-width-password {
//  padding-top: 10px;
//  text-align: left;
//  padding-right: 10px;
//  width: 35%;
//
//}
//
//.full-width-confirm {
//  padding-top: 10px;
//  text-align: left;
//  padding-left: 25px;
//  width: 35%;
//}
//
//.content-body {
//  padding: 60px 1rem;
//  background: #1b6ca8;
//  display: block;
//}
//.aLink{
//  float: right;
//  padding-right: 60px;
//  text-decoration: none;
//}
//
//.bLink{
//  float: left;
//  padding-left: 60px;
//  text-decoration: none;
//}
//
