<!--<mat-sidenav-content>-->

<!--<div class="content mat-elevation-z4">-->

<!--<mat-card *ngIf="user">-->
  <!--<h1 class="text-center">Your Profile Details</h1>-->

  <!--&lt;!&ndash;{{ user | json }}&ndash;&gt;-->

  <!--<mat-card-content>-->

    <!--<div class="bootstrap-wrapper">-->

      <!--<div class="container">-->
        <!--<div class="container text-center">-->
          <!--<img src="https://thumbs.dreamstime.com/b/default-profile-picture-avatar-photo-placeholder-vector-illustration-default-profile-picture-avatar-photo-placeholder-vector-189495158.jpg"-->
          <!--alt=""-->
          <!--class="profile-image">-->

          <!--&lt;!&ndash;<h1 class="mt20"> {{ user.firstName }} {{ user.lastName }} </h1>&ndash;&gt;-->

        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-10 offset-md-1">-->

            <!--&lt;!&ndash;table details&ndash;&gt;-->

            <!--<table class="table text-center">-->

              <!--<tr *ngFor="let u of user">-->
                <!--<td>User Name</td>-->
                <!--&lt;!&ndash;<td>{{u.username}}</td>&ndash;&gt;-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>User Id</td>-->
                <!--&lt;!&ndash;<td>user{{ user.id }}</td>&ndash;&gt;-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>Address</td>-->
                <!--<td>bibile</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>Email</td>-->
                <!--<td>abc@gmail.com</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>Contact No</td>-->
                <!--<td>0714523698</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>Date of Birth</td>-->
                <!--<td>2000</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>NIC</td>-->
                <!--<td>14533255v</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>Joined Date</td>-->
                <!--<td>2010.10</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>Role</td>-->
                <!--&lt;!&ndash;<td>{{ user.authorities[0].authority }}</td>&ndash;&gt;-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>Status</td>-->
                <!--&lt;!&ndash;<td>{{ user.enabled? "ACTIVE": "NOTACTIVE" }}</td>&ndash;&gt;-->
              <!--</tr>-->

            <!--</table>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->

  <!--</mat-card-content>-->

  <!--<mat-card-actions class="text-center">-->
    <!--<button mat-raised-button color="primary">UPDATE</button>-->
    <!--<button mat-raised-button color="accent">SHARE</button>-->
  <!--</mat-card-actions>-->

<!--</mat-card>-->

<!--</div>-->
<!--</mat-sidenav-content>-->
<!--<mat-sidenav-content>-->
<div class="content mat-elevation-z4 text-center">

    <h1 class="text-center">Your Profile Details</h1>


    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img src="https://thejournalofmhealth.com/wp-content/uploads/2021/04/5-Things-to-Consider-When-Selecting-a-Nursing-Program-Source-Unsplash.jpg"
          alt="" class="profile-image">
        </div>

        <div class="row">
          <table class="table text-center">

            <tr>
            <td>User Name</td>
              <td>{{data.name}}</td>
            <!--<td>{{u.username}}</td>-->
            </tr>

            <tr>
            <td>User Id</td>
            <!--<td>user{{ user.id }}</td>-->
            </tr>

            <tr>
            <td>Address</td>
            <td>bibile</td>
            </tr>

            <tr>
            <td>Email</td>
            <td>abc@gmail.com</td>
            </tr>

            <tr>
            <td>Contact No</td>
            <td>0714523698</td>
            </tr>

            <tr>
            <td>Date of Birth</td>
            <td>2000</td>
            </tr>

            <tr>
            <td>NIC</td>
            <td>14533255v</td>
            </tr>

            <tr>
            <td>Joined Date</td>
            <td>2010.10</td>
            </tr>

            <tr>
            <td>Role</td>
            <!--<td>{{ user.authorities[0].authority }}</td>-->
            </tr>

            <tr>
            <td>Status</td>
            <!--<td>{{ user.enabled? "ACTIVE": "NOTACTIVE" }}</td>-->
            </tr>

          </table>
        </div>

      </div>
    </div>

  </div>



<!--</mat-sidenav-content>-->


