<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
  <mat-card fxFlex="100%">
    <form #employeeForm="ngForm">

      <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column">
            <h4><b>{{'Employee Information'}}</b></h4>
          </div>
          <span fxFlex></span>
        </div>

        <mat-divider></mat-divider>
      </div>

      <div class="gene-card-content">
        <!--<mat-tab-group [selectedIndex]="selectedIndex">-->
        <mat-tab-group>
          <mat-tab label="General Employee Details">
            <br/>

            <mat-card class="container mt20 mb10">

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First name" name="firstName" required>
                </mat-form-field>
              </div>
              <div  fxFlex="100" fxFlex.gt-md="80">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last name" name="lastName" required>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" name="username" required>
                </mat-form-field>
              </div>
              <div  fxFlex="100" fxFlex.gt-md="80">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>NIC</mat-label>
                  <input matInput placeholder="NIC" name="nic" required>
                </mat-form-field>
              </div>
            </div>


            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Date of Birth</mat-label>
                  <!--<input matInput [matDatepicker]="picker">-->
                  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
                  <!--<mat-datepicker #picker></mat-datepicker>-->
                  <input type="date" matInput name="dob" required>

              </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="80">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label> Joined Date</mat-label>
                  <input type="date" matInput name="joinedDate" required>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Licence Number</mat-label>
                  <input matInput placeholder="Licence number" name="licenceNumber" required>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="80">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label> Licence Expiry Date</mat-label>
                  <input type="date" matInput name="licenceExpiryDate" required>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <!--<mat-label>Designation</mat-label>-->
                  <mat-select placeholder="Designation" name="designation" required>
                    <mat-option value="1">Driver</mat-option>
                    <mat-option value="2">Helper</mat-option>
                  </mat-select>
                  <!--<input matInput placeholder="Licence number" name="licenceNumber" required>-->
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="80">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Status</mat-label>
                  <!--<mat-radio-group name="status" required>-->
                    <!--<mat-radio-button value="1">Option 1</mat-radio-button>-->
                    <!--<mat-radio-button value="2">Option 2</mat-radio-button>-->
                  <!--</mat-radio-group>-->
                  <input type="text" matInput name="status" required>
                </mat-form-field>
              </div>
            </div>


            <div fxLayout="row" fxLayoutAlign="start">
              <!--<button mat-button type="button" disabled (click)="previousStep()">Previous</button>-->
              <button mat-button type="button" disabled class="ml20 mr10">Previous</button>
              <!--<button mat-button mat-raised-button color="accent" (click)="nextStep()" type="button">Next</button>-->
              <button mat-button mat-raised-button color="accent" type="button">Next</button>
            </div>
            </mat-card>

          </mat-tab>

          <mat-tab label="Employee Contact Details">
            <br/>

            <mat-card class="container mt20 mb10">

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Address 1</mat-label>
                  <textarea matInput placeholder="Ex. 100 Main St" required></textarea>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Address 2</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </div>
            </div>


            <!--<div fxLayout="row wrap" fxLayoutAlign="space-between center">-->
              <!--<div fxFlex="100" fxFlex.gt-md="20">-->
            <table>
              <tr>
              <td>
                <mat-form-field class="full-wid mrgn-b-md">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. Monaragala" required>
              </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-wid mrgn-b-md">
                <mat-label>Postal Code</mat-label>
                <input matInput #postalCode maxlength="5" placeholder="Ex. 91000" required>
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              </mat-form-field></td>
            </tr>

            </table>
              <!--</div>-->
            <!--</div>-->


            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="100" fxFlex.gt-md="20">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label>Phone Number</mat-label>
                  <input matInput placeholder="Phone number" name="phoneNumber" required>
                  <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="80">
                <mat-form-field class="full-wid mrgn-b-md">
                  <mat-label> Email</mat-label>
                  <input type="email" matInput placeholder="Ex. abc@gmail.com" name="email" required>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start">
              <!--<button mat-button type="button" (click)="previousStep()">Previous</button>-->
              <button mat-button type="button" class="mr10 ml20">Previous</button>
              <!--<button mat-button mat-raised-button color="accent" (click)="saveEmployee()" -->
                      <!--type="submit" [disabled]="employeeForm.invalid">Save</button>-->
              <button mat-button mat-raised-button color="accent"type="submit">Save</button>
            </div>
            </mat-card>

          </mat-tab>

        </mat-tab-group>
      </div>

    </form>
  </mat-card>
</div>
