
mat-grid-list {



  .sidepanel {
    background-color: red;

  }

  .container {
    background-color: yellow;

    width: 100%;
  }
}

//mat-sidenav-container {
//  height: calc(100vh - 65px);
//  background-color: #007bff;
//
//  mat-sidenav {
//    margin: 16px;
//    width: 20%;
//    border-right: none;
//    background: lightgray;
//    color: white;
//    border-radius: 10px;
//    padding: 16px;
//    text-align: center;
//  }
//}
//
//.content {
//  height: calc(100vh - 65px);
//  margin: 16px;
//  margin-left: 32px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//
//  font-size: 2rem;
//  color: lightgray;
//
//  border-radius: 10px;
//}
