//.gene-card-content{
//  height: 270px;
//  overflow: hidden;
//  overflow-y:auto;
//}

.mat-tab-label {
  //color: rgba(mat-color($foreground, base), 0.87);
  align-items: center;
  display: flex;
  justify-content: center;
}
